<div class="container">

  <h1 class="title">Users</h1>

  <div class="columns">
    <div class="column is-3" *ngFor="let user of users | async; let i = index; trackBy:trackById">
      <app-user-card [user]="user" (onEditClick)="openModall('Form', user)"
        (onDeleteClick)="openModall('Delete', user)"></app-user-card>
    </div>

  </div>
</div>

<div id="formModal" class="modal" [ngClass]="{'is-active': showFormModal}">
  <div class="modal-background"></div>
  <div class="modal-card modal-card-medium">
    <header class="modal-card-head">
      <p class="modal-card-title">User Form</p>
      <button class="delete" aria-label="close" (click)="closeModal('Form')"></button>
    </header>
    <section class="modal-card-body share-modal-body">
      <app-user-form *ngIf="showFormModal" [user]="userSelected" (onSaved)="onUserSaved()"></app-user-form>
    </section>
  </div>
</div>

<div id="deleteModal" class="modal" [ngClass]="{'is-active': showDeleteModal}">
  <div class="modal-background"></div>
  <div class="modal-card modal-card-medium">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete User</p>
      <button class="delete" aria-label="close" (click)="closeModal('Delete')"></button>
    </header>
    <section class="modal-card-body share-modal-body">
      <h2 class="subtitle">Do you really want to delete the user: "{{userSelected?.name}}" ? </h2>
    </section>
    <footer class="modal-card-foot">
      <div class="field is-grouped is-pulled-right">
        <p class="control">
          <button id="reset-password-button" class="button is-danger" type="button" (click)="deleteUser()">
            <span class="icon">
              <i class="material-icons">delete</i>
            </span>
            <span>Remove</span>
          </button>
          <button class="button" type="button" (click)="closeModal('Delete')">Cancelar</button>
        </p>
      </div>
    </footer>
  </div>
</div>

<button class="button is-link is-large is-circle is-fixed-rb" type="button" style="opacity: .8;"
  (click)="openModall('Form')">
  <span class="icon">
    <i class="material-icons">add</i>
  </span>
</button>
