.description-container {
  margin: 1em;
}

.buttons-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1em;
}

.state-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
