<div class="card user-card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img [src]="image" alt="{{user.name}} picture">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-5">{{user.name}}</p>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a [routerLink]="[ '/tasks', user.id ]" class="card-footer-item is-link">Tasks</a>
    <a href="#" class="card-footer-item is-primary" (click)="onEditClick.emit()">Edit</a>
    <a href="#" class="card-footer-item is-danger" (click)="onDeleteClick.emit()">Delete</a>
  </footer>
</div>
