.card-footer-item.is-danger {
  background-color: #feecf0;
  color: #cc0f35;
}

.card-footer-item.is-primary {
  background-color: #ebfffc;
  color: #00947e;
}

.card-footer-item.is-link {
  background-color: #eef3fc;
  color: #2160c4;
}
